<form class="clr-form">
  <div class="clr-form-control">
    <label for="example" class="clr-control-label">Datos del Producto</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="nombre" placeholder="Nombre del producto" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="clr-input-wrapper">
        <input type="text" id="barcode" placeholder="Codigo del producto" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="clr-input-wrapper">
        <input type="text" id="descripcion" placeholder="Descripcion producto" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="clr-input-wrapper">
        <input type="file" id="imagen" placeholder="Example Input" class="clr-input">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <button class="btn btn-primary btn-block">Primary</button>
    </div>
  </div>
</form>